// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #3C8C61;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-green:#49C281;
$light-skin : #F9B699;
$skin : #F6846B;
$beige : #FEF3EB;
$grey-green : #ECF2EF;

$light-skin-vanish: rgba(249, 182, 153, 0.5)
