// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #EBE6E0;
$green2: #0da37b;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-green:#49C281;
$light-skin : #F9B699;
$skin : #ff715b;
$beige : #FEF3EB;
$grey-green : #f4f7f6;

$light-skin-vanish: rgba(249, 182, 153, 0.5);
$green:#0da59e;
$grey-grey:#edf9f3;
$black-grey :#523f38;
