.btn-info {
  color: white !important;
}

h1 {
  color: $green;
  font-family: 'Neucha', cursive !important;
}
h2 {
  font-family: 'Actor', sans-serif !important;
}
h4 a {
  font-family: 'Actor', sans-serif !important;
  }


// main-container
// container-pages-name
.container-massage {
  min-height: calc(100vh - 150px);
  width: 1050px;
  margin: 0 auto;
}

.container {
 min-height: calc(100vh - 150px);

}
