.btn-info {
  color: white !important;
}


// main-container
// container-pages-name
.container-massage {
  min-height: calc(100vh - 150px);
  width: 1050px;
  margin: 0 auto;
}

.container {
 min-height: calc(100vh - 150px);

}
