// Specific CSS for your home-page
.banner {
  background-color: white;
}

.project-intro {
  h2 {
    color: $green;
    padding: 2rem 0;
    text-align: center;
  }
}

#home-container {
  min-height: unset;
}

.three-steps {
  h3 {
  font-size: 2rem;
  color: $skin;
  }
  .picto-home {
    padding: 2rem 0;
  }
  p {
    color: $gray;
  }
}

.massage-types {
  background-color: $green;
  h2 {
    padding: 2rem 0;
    color: white;
    text-align: center;
  }
}

#finder_card {
  background-color: $grey-green;
  margin-right: -3rem;
  .form-group {
    margin-bottom: 15px;
  }
}

#white_card {
  border-radius: 0px;
  border-style: none;
}




