<!-- rename _form.html.erb -->
<div class="form-wrapper" >
  <div class="card-body justify-content-center">
    <%= simple_form_for [@masseur, @booking] , url: masseur_bookings_path(@masseur.id) do |f| %>
      <%= f.input :massage, label: false, prompt: "Choisissez votre massage", collection: @masseur.massages.map(&:massage_type), class: "my-5"  %>
      <p class="text-center my-2" >Choisissez la date et l'heure:</p>
      <%= f.input :start_date, label: false,  as: :string, required: false, input_html: {id: "datepicker",class: "d-none"} %>
      <div class="w-100 d-flex justify-content-center">
        <%= f.button :submit, "Valider", class: "btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>
