<div class="footer ">
  <div class="footer-links">
    <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
    <a href="http://www.facebook.com"><i class="fab fa-facebook"></i></a>
    <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
  </div>
</div>
