<div class="footer ">
  <div class="footer-links">
    <a href="www.instagram.com"><i class="fab fa-instagram"></i></a>
    <a href="www.facebook.com"><i class="fab fa-facebook"></i></a>
    <a href="twitter.com"><i class="fab fa-twitter"></i></a>
  </div>
</div>
