<div class="card p-2 h-100 mb-2">
  <div class="card-body my-2">
    <h2 class="text-center">Mon planning de rendez-vous</h2>
    <div class="d-flex justify-content-center align-items-center h-75">
      <p class= "text-center">Vous n'avez pas de rendez vous de prévu pour le moment</p>
    </div>
  </div>
</div>
