<div class="card p-2 h-100 mb-2">
  <div class="card-body my-2">
    <h2 class="text-center">Mon planning de rendez-vous</h2>
    <div class="pt-4 align-items-center h-75">


      <% if current_user.bookings.empty? %>
        <p class= "text-center">Vous n'avez pas de rendez vous de prévu pour le moment</p>
      <% else %>
        <% current_user.bookings.last(5).each do |booking| %>
          <br>
          <p>
            <strong><%= booking.massage.massage_type %></strong>   réservé par <strong><%= booking.user.first_name %> <%= booking.user.last_name %></strong>
            </br>Le <strong><%= booking.start_date %></strong>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
