<% if current_user.mass_or_not == false %>
  <div class="container">
    <h1 class="my-4">MON COMPTE</h1>
    <div class="row">
      <div class="col-6">
        <%= render 'profils/card_presentation_user', user: @user %>
        <%= render 'profils/to_become_massotheraps' %>
      </div>
      <div class="col-6">
        <%= render 'bookings/rdv_card', booking: @last_booking, masseur: @masseur %>
        <%= render 'bookings/last_bookings_card', user: @user %>
      </div>
    </div>
  </div>
<% end %>

