.card {
  border-radius: 10px;
  border-style: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.img-massage-type-home {
  border-radius: 10px 0 0 10px;
}

.cont_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card.price  h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card-body {
  padding: 0.9rem;
  p {
    line-height: 1rem;
  }
}

.card-text p{
  line-height: 1.2rem;
}

.massage_list {
  list-style: none;
  padding-inline-start: 0;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

#card {
  height: 380px;
}
