.flatpickr-calendar.inline {
  margin: auto;
}

.flatpickr-months .flatpickr-month {
  background-color: $green !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months{
  background-color: $green !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months > option{
  background-color: $green !important;
}

.flatpickr-weekdays{
  background-color: $green !important;
  color: white !important;
}

.flatpickr-weekdaycontainer > .flatpickr-weekday{
  background-color: $green !important;
  color: white !important;
}

.form-group {
  margin-bottom: 2.5rem;
}

.wrapper{
  max-width: 320px !important;
}

