.cont_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card.price  h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card-body {
  padding: 0.9rem;
}

.card-text {
  line-height: 1rem;
}
