.cont_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card {
  border-radius: 10px;
  border-style: none;
  h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5rem;
  }

}
.card-body {
  padding: 0.9rem;
}
