.text-dark.nav-item{
  padding: 0 10px;
}

.btn-outline-sucess:hover {
  color: white;
}

#logo-title {
  font-family: 'Neucha', cursive;
  font-size: 24px;
  color: $gray;
}

.navbar-expand-lg {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1)
}
