<div class="notifications_all card my-3">
  <h2 class="text-center my-2">Avis</h2>
  <% reviews.each do |review| %>
    <%= render 'reviews/reviews_details_card', review: review %>
  <% end %>
</div>
