 <div class="notification">
  <div class="notification-content">
    <div class="notif_title">
      <h4>De < Username > </h4>
      <p>Rating : <% 5.times do %> <i class="fa fa-star gold text-success"></i><% end %></p>
    </div>
    <p>Lorem ipsum dolor sit amet,adipisicing elit.</p>
  </div>

  <!-- <div class="notification-actions">
    <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
    <a href="#">Delete <i class="far fa-trash-alt"></i></a>
  </div> -->
</div>
