 <div class="notification w-50">
  <div class="notification-content">
    <div class="notif_title d-flex justify-content-between">
      <h5>De <%= review.user.first_name %> <%= review.user.last_name %> </h5>
      <p><% 5.times do %> <i class="fa fa-star gold text-primary"></i><% end %></p>
    </div>
    <p><%= review.content %></p>
  </div>

  <!-- <div class="notification-actions">
    <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
    <a href="#">Delete <i class="far fa-trash-alt"></i></a>
  </div> -->
</div>
